{"openapi":"3.1.0","info":{"title":"Landregister API","description":"Die Landregister API","version":"1.0.0"},"servers":[{"url":"https:\/\/api.wirtschaftscompass.at\/landregister","description":"Generated server url"}],"security":[{"compass-api-token":[]}],"tags":[{"name":"V1","description":"Landregister Version 1"}],"paths":{"\/v1\/{kg}\/{ez}\/journal":{"get":{"tags":["V1"],"summary":"Abruf von Tagebuchzahlen in strukturierter Form","description":"Es k\u00f6nnen Tagebuchzahlen einer KG\/EZ in strukturierter Form abgefragt werden.","operationId":"folioJournalCases","parameters":[{"name":"kg","in":"path","description":"Nummer der Katastralgemeinde (KG)","required":true,"schema":{"type":"string"}},{"name":"ez","in":"path","description":"Einlagezahl (EZ)","required":true,"schema":{"type":"string"}},{"name":"journal-year","in":"query","description":"TZ-Jahr (Tagebuch)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"journal-number","in":"query","description":"TZ-Zahl (Tagebuch)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"court-number","in":"query","description":"Zahl des zust\u00e4ndigen Bezirksgerichts","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Seite, die abgefragt werden soll (0..N)","schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Anzahl an Ergebnissen pro Seite","schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","description":"Sortierkriterium im Format: feld(,asc|desc)?, z.B. \"%example%\"; Standardsortierung ist aufsteigend (asc), Parameter kann mehrmals angegeben werden f\u00fcr mehr als ein Sortierkriterium","schema":{"type":"array","default":[],"items":{"type":"string"}}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/JournalCaseList"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/JournalCaseList"}}}}}}},"\/v1\/{kg}\/{ez}\/documents":{"get":{"tags":["V1"],"summary":"Abruf einer Urkundenliste in strukturierter Form","description":"Entspricht der Urkundenliste (z.B. Kaufvertrag, Pfandurkunde, Schenkungsvertrag etc.) aus der Grundbuchdatenbank der Republik \u00d6sterreich und wird durch Compass zur Verf\u00fcgung gestellt.","operationId":"folioDocuments","parameters":[{"name":"kg","in":"path","description":"Nummer der Katastralgemeinde (KG)","required":true,"schema":{"type":"string"}},{"name":"ez","in":"path","description":"Einlagezahl (EZ)","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Seite, die abgefragt werden soll (0..N)","schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Anzahl an Ergebnissen pro Seite","schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","description":"Sortierkriterium im Format: feld(,asc|desc)?, z.B. \"%example%\"; Standardsortierung ist aufsteigend (asc), Parameter kann mehrmals angegeben werden f\u00fcr mehr als ein Sortierkriterium","schema":{"type":"array","default":[],"items":{"type":"string"}}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/DocumentsList"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/DocumentsList"}}}}}}},"\/v1\/{kg}\/{ez}\/cadastral-register-report":{"get":{"tags":["V1"],"summary":"Abruf von Katasterdaten in strukturierter Form","description":"Es k\u00f6nnen alle Informationen auf Basis der \u00f6sterreichischen Katasterdaten des Bundesamts f\u00fcr Eich- und Vermessungswesen (BEV) in strukturierter Form als JSON oder XML abgefragt werden.","operationId":"bevProfile","parameters":[{"name":"kg","in":"path","description":"Nummer der Katastralgemeinde (KG)","required":true,"schema":{"type":"string"}},{"name":"ez","in":"path","description":"Einlagezahl (EZ)","required":true,"schema":{"type":"string"}},{"name":"load-option","in":"query","description":"Load Options:<br\/>ALL: Beinhaltet alle Informationen einer EZ aus den nachfolgend angef\u00fchrten Load Options.<br\/>AREA_ZONINGS: Fl\u00e4chenwidmungsdaten ausgeben.<br\/>CONTAMINATED_SITES: Altlasten aus dem Verdachtsfl\u00e4chenkataster ausgeben.<br\/>Ohne Auswahl einer \"Load Option\" wird der Standard-Report einer EZ der Katasterdaten zur\u00fcckgeliefert.","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["ALL","AREA_ZONINGS","CONTAMINATED_SITES"]},"uniqueItems":true}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CadastreProfileType"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/CadastreProfileType"}}}}}}},"\/v1\/{kg}\/{ez}\/cadastral-register-report\/pdf":{"get":{"tags":["V1"],"summary":"Abruf von Katasterdaten als PDF","description":"Es k\u00f6nnen alle Informationen auf Basis der \u00f6sterreichischen Katasterdaten des Bundesamts f\u00fcr Eich- und Vermessungswesen (BEV) als PDF abgefragt werden.","operationId":"bevProfilePdf","parameters":[{"name":"kg","in":"path","description":"Nummer der Katastralgemeinde (KG)","required":true,"schema":{"type":"string"}},{"name":"ez","in":"path","description":"Einlagezahl (EZ)","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"type":"string","format":"byte"}},"application\/xml":{"schema":{"type":"string","format":"byte"}}}}}}},"\/v1\/register-excerpt":{"get":{"tags":["V1"],"summary":"Abfrage eines GB-Registerauszugs","description":"Die geb\u00fchrenpflichtige Abfrage aus dem Gesch\u00e4ftsregister des Gerichts mittels zugeh\u00f6riger Tagebuchzahl als PDF.","operationId":"purchaseRegisterExcerpt","parameters":[{"name":"journal-number","in":"query","description":"TZ-Zahl (Tagebuch)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"journal-year","in":"query","description":"TZ-Jahr (Tagebuch)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"court-number","in":"query","description":"Zahl des zust\u00e4ndigen Bezirksgerichts","required":true,"schema":{"type":"string"}},{"name":"validity","in":"query","description":"Bei dieser Option k\u00f6nnen zus\u00e4tzliche Abfrageparameter angewendet werden:<br\/>FETCH_NEW: Neue Abfrage aus dem Grundbuch.<br\/>FETCH_IF_NOT_AVAILABLE: Neue Abfrage aus dem Grundbuch, wenn kein Auszug im Archiv vorhanden ist.<br\/>CACHE_ONLY: Dabei erfolgt die Abfrage nur aus dem Archiv.<br\/>FETCH_NEW_IF_OUTDATED: Ist der im Archiv befindliche Auszug \u00e4lter als z.B. 7 Tage (frei w\u00e4hlbar), wird ein neuer Auszug aus dem Grundbuch abgeholt.<br\/>Default value: CACHE_ONLY","required":false,"schema":{"type":"string","default":"CACHE_ONLY","enum":["FETCH_IF_NOT_AVAILABLE","CACHE_ONLY","FETCH_NEW_IF_OUTDATED","FETCH_NEW","FETCH_NEW_IF_CHANGED"]}},{"name":"valid-days","in":"query","description":"G\u00fcltigkeitsdauer in Tagen - Maximaler G\u00fcltigkeitszeitraum eines bestehenden Dokuments, wenn die \"Validity-Option\" FETCH_NEW_IF_OUTDATED verwendet wird<br\/>Default value: 7","required":false,"schema":{"type":"integer","format":"int32","default":7}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Document"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/Document"}}}}}}},"\/v1\/owners":{"get":{"tags":["V1"],"summary":"Suche nach Eigent\u00fcmern","description":"Die Suche nach Eigent\u00fcmern (Personen oder Firmen) auf Basis von Grundbuchausz\u00fcgen, die innerhalb Ihres Unternehmens oder Ihrer Unternehmensgruppe bereits bezogen wurden.","operationId":"findOwners","parameters":[{"name":"term","in":"query","description":"Suchwort (Name der Person oder Name der Organisation)","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Seite, die abgefragt werden soll (0..N)","schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Anzahl an Ergebnissen pro Seite","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/OwnersListType"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/OwnersListType"}}}}}}},"\/v1\/owners\/{wico-id}\/owner-report":{"get":{"tags":["V1"],"summary":"Abruf von Eigent\u00fcmerinformationen in strukturierter Form","description":"\"Es k\u00f6nnen alle Informationen zu einem Eigent\u00fcmer (Person oder Firma) auf Basis von Grundbuchausz\u00fcgen, die innerhalb Ihres Unternehmens oder Ihrer Unternehmensgruppe bereits bezogen wurden, in strukturierter Form als JSON oder XML abgefragt werden.<br\/>Voraussetzung f\u00fcr eine Abfrage ist die [wicoId] der Person bzw. der Firma.\"","operationId":"ownerReport","parameters":[{"name":"wico-id","in":"path","description":"[wicoId] der Person oder Firma","required":true,"schema":{"type":"string"}},{"name":"load-option","in":"query","description":"Load Options:<br\/>ALL: Beinhaltet alle Informationen der Person bzw. Firma aus den nachfolgend angef\u00fchrten Load Options.<br\/>ACTUALITY: Den Aktualit\u00e4tsstatus zu den Liegenschaften der Person bzw. Firma ausgeben.<br\/>Ohne Auswahl einer \"Load Option\" wird der Standard-Report zu einer Person bzw. Firma zur\u00fcckgeliefert.","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["ALL","ACTUALITY"]},"uniqueItems":true}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/LandRegisterOwnerProfileType"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/LandRegisterOwnerProfileType"}}}}}}},"\/v1\/owners\/{wico-id}\/owner-report\/pdf":{"get":{"tags":["V1"],"summary":"Abruf von Eigent\u00fcmerinformationen als PDF","description":"\"Es k\u00f6nnen alle Informationen zu einem Eigent\u00fcmer (Person oder Firma) auf Basis von Grundbuchausz\u00fcgen, die innerhalb Ihres Unternehmens oder Ihrer Unternehmensgruppe bereits bezogen wurden, als PDF abgefragt werden. Voraussetzung f\u00fcr eine Abfrage ist die [wicoId] der Person bzw. der Firma.\"","operationId":"ownerReportPdf","parameters":[{"name":"wico-id","in":"path","description":"[wicoId] der Person oder Firma","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/pdf":{"schema":{"type":"string","format":"byte"}}}}}}},"\/v1\/excerpts\/{document-reference}\/land-register-report":{"get":{"tags":["V1"],"summary":"Abruf von Grundbuchdaten in strukturierter Form","description":"Es k\u00f6nnen alle Informationen zu einer Liegenschaft auf Basis von Grundbuchausz\u00fcgen, die innerhalb Ihres Unternehmens oder Ihrer Unternehmensgruppe bereits bezogen wurden, in strukturierter Form als JSON oder XML abgefragt werden.","operationId":"landRegisterExcerptProfile","parameters":[{"name":"document-reference","in":"path","description":"Die [document-reference]-ID des zugrundeliegenden Grundbuchauszugs (wird zur\u00fcckgeliefert von \/v1\/excerpts\/land-register-excerpt)","required":true,"schema":{"type":"string"}},{"name":"load-option","in":"query","description":"Load Options:<br\/>ALL: Beinhaltet alle Informationen einer EZ aus den nachfolgend angef\u00fchrten Load Options.<br\/>ACTUALITY: Den Aktualit\u00e4tsstatus der Liegenschaft ausgeben.<br\/>AREA_ZONINGS: Fl\u00e4chenwidmungsdaten ausgeben.<br\/>CONTAMINATED_SITES: Altlasten aus dem Verdachtsfl\u00e4chenkataster ausgeben.<br\/>HISTORIC_INFORMATION: Historische Eigent\u00fcmerdaten ausgeben.<br\/>Ohne Auswahl einer \"Load Option\" wird der Standard-Report einer EZ der Grundbuchdaten zur\u00fcckgeliefert.","required":false,"schema":{"type":"array","default":[],"items":{"type":"string","enum":["ALL","ACTUALITY","AREA_ZONINGS","CONTAMINATED_SITES","HISTORIC_INFORMATION"]},"uniqueItems":true}},{"name":"b-lnr","in":"query","description":"Optionale Einschr\u00e4nkung auf eine oder mehrere B-LNR (beistrichgetrennt)","required":false,"schema":{"type":"array","default":[],"items":{"type":"integer","format":"int32"}}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/LandRegisterExcerptProfileType"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/LandRegisterExcerptProfileType"}}}}}}},"\/v1\/excerpts\/{document-reference}\/land-register-report\/pdf":{"get":{"tags":["V1"],"summary":"Abruf von Grundbuchdaten als PDF","description":"Es k\u00f6nnen alle Informationen zu einer Liegenschaft auf Basis von Grundbuchausz\u00fcgen, die innerhalb Ihres Unternehmens oder Ihrer Unternehmensgruppe bereits bezogen wurden, als PDF abgefragt werden.","operationId":"landRegisterExcerptProfilePdf","parameters":[{"name":"document-reference","in":"path","description":"Die [document-reference]-ID des zugrundeliegenden Grundbuchauszugs (wird zur\u00fcckgeliefert von \/v1\/excerpts\/land-register-excerpt)","required":true,"schema":{"type":"string"}},{"name":"b-lnr","in":"query","description":"Optionale Einschr\u00e4nkung auf eine oder mehrere B-LNR (beistrichgetrennt)","required":false,"schema":{"type":"array","default":[],"items":{"type":"integer","format":"int32"}}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/pdf":{"schema":{"type":"string","format":"byte"}}}}}}},"\/v1\/excerpts\/{document-reference}\/land-register-excerpt\/pdf":{"get":{"tags":["V1"],"summary":"Die Erzeugung von einem durch Compass generierten Dokuments im \"look & feel\" eines Auszugs aus dem Grundbuch","description":"Ein durch Compass generiertes Dokuments als PDF auf Basis bereits abgeholter geb\u00fchrenpflichtiger amtlicher Ausz\u00fcge aus dem Grundbuch.","operationId":"landRegisterExcerptPdf","parameters":[{"name":"document-reference","in":"path","description":"Die [document-reference]-ID des zugrundeliegenden Grundbuchauszugs (wird zur\u00fcckgeliefert von \/v1\/excerpts\/land-register-excerpt)","required":true,"schema":{"type":"string"}},{"name":"b-lnr","in":"query","description":"Optionale Einschr\u00e4nkung auf eine oder mehrere B-LNR (beistrichgetrennt)","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/pdf":{"schema":{"type":"string","format":"byte"}}}}}}},"\/v1\/excerpts\/land-register-excerpt":{"get":{"tags":["V1"],"summary":"Abruf eines amtlichen Grundbuchauszugs","description":"Die geb\u00fchrenpflichtige Abfrage eines amtlich signierten Auszugsaus dem Grundbuch der Republik \u00d6sterreich (FETCH_NEW).<br\/>Dar\u00fcber hinaus kann das \"Wirtschafts-Compass Archiv\" gepr\u00fcft werden, ob ein Auszug der betreffenden Liegenschaft bereits abgefragt wurde. Als Ergebnis wird die [document-reference]-ID zur\u00fcckgeliefert.<br\/>Ausz\u00fcge, die neu abgeholt werden, sind geb\u00fchrenpflichtig. Bereits archivierte Ausz\u00fcge, die erneut abgerufen werden nicht.","operationId":"landRegisterExcerpt","parameters":[{"name":"validity","in":"query","description":"Bei dieser Option k\u00f6nnen zus\u00e4tzliche Abfrageparameter angewendet werden:<br\/>FETCH_NEW: Neue Abfrage aus dem Grundbuch.<br\/>FETCH_IF_NOT_AVAILABLE: Neue Abfrage aus dem Grundbuch, wenn kein Auszug im Archiv vorhanden ist.<br\/>CACHE_ONLY: Dabei erfolgt die Abfrage nur aus dem Archiv.<br\/>FETCH_NEW_IF_OUTDATED: Ist der im Archiv befindliche Auszug \u00e4lter als z.B. 7 Tage (frei w\u00e4hlbar), wird ein neuer Auszug aus dem Grundbuch abgeholt.<br\/>FETCH_NEW_IF_CHANGED: der zuletzt abgeholte und im Archiv befindliche Auszug wird auf Aktualit\u00e4t gepr\u00fcft und bei Ver\u00e4nderung ein neuer Auszug abgeholt.<br\/>Default value: CACHE_ONLY","required":false,"schema":{"type":"string","default":"CACHE_ONLY","enum":["FETCH_IF_NOT_AVAILABLE","CACHE_ONLY","FETCH_NEW_IF_OUTDATED","FETCH_NEW","FETCH_NEW_IF_CHANGED"]}},{"name":"valid-days","in":"query","description":"G\u00fcltigkeitsdauer in Tagen - Maximaler G\u00fcltigkeitszeitraum eines bestehenden Dokuments, wenn die \"Validity-Option\" FETCH_NEW_IF_OUTDATED verwendet wird<br\/>Default value: 7","required":false,"schema":{"type":"integer","format":"int32","default":7}},{"name":"kg","in":"query","description":"Nummer der Katastralgemeinde (KG)","required":true,"schema":{"type":"string"}},{"name":"ez","in":"query","description":"Einlagezahl (EZ)","required":false,"schema":{"type":"string"}},{"name":"gst-nr","in":"query","description":"Grundst\u00fccksnummer (GST-NR)","required":false,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Document"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/Document"}}}}}}},"\/v1\/document":{"get":{"tags":["V1"],"summary":"Abfrage einer Urkunde aus dem Grundbuch","description":"Die geb\u00fchrenpflichtige Abfrage einer Urkunde aus dem Grundbuch als PDF","operationId":"journalDocument","parameters":[{"name":"validity","in":"query","description":"Bei dieser Option k\u00f6nnen zus\u00e4tzliche Abfrageparameter angewendet werden:<br\/>FETCH_NEW: Neue Abfrage aus dem Grundbuch.<br\/>FETCH_IF_NOT_AVAILABLE: Neue Abfrage aus dem Grundbuch, wenn kein Auszug im Archiv vorhanden ist.<br\/>CACHE_ONLY: Dabei erfolgt die Abfrage nur aus dem Archiv.<br\/>FETCH_NEW_IF_OUTDATED: Ist der im Archiv befindliche Auszug \u00e4lter als z.B. 7 Tage (frei w\u00e4hlbar), wird ein neuer Auszug aus dem Grundbuch abgeholt.<br\/>Default value: CACHE_ONLY","required":false,"schema":{"type":"string","default":"CACHE_ONLY","enum":["FETCH_IF_NOT_AVAILABLE","CACHE_ONLY","FETCH_NEW_IF_OUTDATED","FETCH_NEW","FETCH_NEW_IF_CHANGED"]}},{"name":"valid-days","in":"query","description":"G\u00fcltigkeitsdauer in Tagen - Maximaler G\u00fcltigkeitszeitraum eines bestehenden Dokuments, wenn die \"Validity-Option\" FETCH_NEW_IF_OUTDATED verwendet wird<br\/>Default value: 7","required":false,"schema":{"type":"integer","format":"int32","default":7}},{"name":"court-number","in":"query","description":"Zahl des zust\u00e4ndigen Bezirksgerichts","required":true,"schema":{"type":"string"}},{"name":"journal-number","in":"query","description":"TZ-Zahl (Tagebuch)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"journal-year","in":"query","description":"TZ-Jahr (Tagebuch)","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"document-number","in":"query","description":"Dokumentennummer (wird zur\u00fcckgeliefert von \/v1\/{kg}\/{ez}\/documents)","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Document"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/Document"}}}}}}},"\/v1\/courts":{"get":{"tags":["V1"],"summary":"Liste der Bezirksgerichte","description":"Eine Gesamtliste f\u00fcr die im Grundbuch zust\u00e4ndigen Bezirksgerichte in strukturierter Form.","operationId":"courtList","parameters":[{"name":"state","in":"query","description":"State:<br\/>ALL: Beinhaltet alle Bezirksgerichte<br\/>OPEN: Nur aktuell aktive Bezirksgerichte<br\/>CLOSED: Nur geschlossene Bezirksgerichte","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","OPEN","CLOSED"]}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/CourtList"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/CourtList"}}}}}}},"\/v1\/address":{"get":{"tags":["V1"],"summary":"Suche nach Adressen","description":"Suche nach Adressen zur Ermittlung von Katastralgemeinden sowi Einlagezahlen beziehungsweise Grundst\u00fccksnummern","operationId":"searchAddress","parameters":[{"name":"term","in":"query","description":"Suchwort (Adresse)","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Seitenverwaltung\/Paginierung (0...N)","schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Anzahl an Ergebnissen pro Seite","schema":{"type":"integer","format":"int32","default":10}}],"responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/AddressSearchResult"}},"application\/xml":{"schema":{"$ref":"#\/components\/schemas\/AddressSearchResult"}}}}}}},"\/health":{"get":{"tags":["X"],"summary":"","description":"","operationId":"getPing","responses":{"404":{"description":"Not Found","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceNotFoundException"]},"400":{"description":"Bad Request","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.InvalidParameterException"]},"503":{"description":"Service Unavailable","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["at.compass.api.shared.exception.ExternalServiceException"]},"500":{"description":"Internal Server Error","content":{"*\/*":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}},"x-exception-class":["java.lang.Exception"]},"401":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"403":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Failure"}}}},"200":{"description":"OK","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ResponseString"}}}}}}}},"components":{"schemas":{"Failure":{"properties":{"message":{"type":"string"},"stacktrace":{"type":"string"}},"required":["message","stacktrace"],"xml":{"name":"failure","namespace":"urn:compass:wico:api:1.0"}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","description":"","minimum":0},"size":{"type":"integer","format":"int32","description":"","minimum":1},"sort":{"type":"array","description":"","items":{"type":"string"}}}},"Api":{"type":"object","properties":{"domain":{"type":"string","description":""},"version":{"type":"string","description":""}},"required":["domain","version"],"xml":{"name":"api","namespace":"urn:compass:wico:api:1.0"}},"JournalCaseList":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"data":{"$ref":"#\/components\/schemas\/JournalCasesListType","description":""}},"required":["data","meta"]},"JournalCasesDocumentsListItemType":{"type":"object","properties":{"documentNumber":{"type":"integer","format":"int32","description":"","xml":{"name":"document-number"}},"type":{"type":"string","description":""},"comment":{"type":"string","description":""},"date":{"type":"string","description":""}},"required":["date","type"]},"JournalCasesDocumentsListType":{"type":"object","properties":{"document":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/JournalCasesDocumentsListItemType"}}},"required":["document"]},"JournalCasesListItemType":{"type":"object","properties":{"tz":{"$ref":"#\/components\/schemas\/TzType","description":""},"creationDate":{"type":"string","description":"","xml":{"name":"creation-date"}},"executionDate":{"type":"string","description":"","xml":{"name":"execution-date"}},"deletionDate":{"type":"string","description":"","xml":{"name":"deletion-date"}},"documents":{"$ref":"#\/components\/schemas\/JournalCasesDocumentsListType","description":""}},"required":["creationDate","tz"]},"JournalCasesListType":{"type":"object","properties":{"journalCase":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/JournalCasesListItemType"},"xml":{"name":"journal-case"}}}},"Meta":{"type":"object","properties":{"api":{"$ref":"#\/components\/schemas\/Api","description":""},"user":{"$ref":"#\/components\/schemas\/User","description":""},"cost":{"type":"string","description":""},"lastUpdate":{"type":"string","description":""},"generationDate":{"type":"string","description":""}},"required":["api","cost","generationDate","lastUpdate","user"],"xml":{"name":"meta","namespace":"urn:compass:wico:api:1.0"}},"TzType":{"type":"object","properties":{"courtNumber":{"type":"string","description":"","xml":{"name":"court-number"}},"year":{"type":"integer","format":"int32","description":""},"tz":{"type":"integer","format":"int32","description":""}},"required":["courtNumber"]},"User":{"type":"object","properties":{"organisation":{"type":"string","description":""},"username":{"type":"string","description":""},"clientInfo":{"type":"string","description":""}},"required":["clientInfo","organisation","username"],"xml":{"name":"user","namespace":"urn:compass:wico:api:1.0"}},"DocumentsList":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"data":{"$ref":"#\/components\/schemas\/DocumentsListType","description":""}},"required":["data","meta"]},"DocumentsListItemType":{"type":"object","properties":{"tz":{"$ref":"#\/components\/schemas\/TzType","description":""},"documentNumber":{"type":"integer","format":"int32","description":"","xml":{"name":"document-number"}},"type":{"type":"string","description":""},"comment":{"type":"string","description":""},"date":{"type":"string","description":""}},"required":["date","type","tz"]},"DocumentsListType":{"type":"object","properties":{"document":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/DocumentsListItemType"}}}},"AddressType":{"type":"object","properties":{"addressType":{"type":"string","description":"","xml":{"name":"address-type"}},"countryCode":{"$ref":"#\/components\/schemas\/CountryCodeType","description":"","xml":{"name":"country-code"}},"state":{"type":"string","description":""},"district":{"type":"string","description":""},"postalCode":{"type":"string","description":"","xml":{"name":"postal-code"}},"place":{"type":"string","description":""},"streetAddress":{"type":"string","description":"","xml":{"name":"street-address"}},"houseNumber":{"type":"string","description":"","xml":{"name":"house-number"}},"apartmentNumber":{"type":"string","description":"","xml":{"name":"apartment-number"}},"careOf":{"type":"string","description":"","xml":{"name":"care-of"}},"geoLocation":{"$ref":"#\/components\/schemas\/GeoLocationType","description":"","xml":{"name":"geo-location"}},"poBox":{"type":"string","description":"","xml":{"name":"po-box"}}}},"AddressesListType":{"type":"object","properties":{"address":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/AddressType"}}},"required":["address"]},"CadastralAreaType":{"type":"object","properties":{"kg":{"type":"string","description":""}},"required":["kg"]},"CadastreAreaZoningDataType":{"type":"object","properties":{"plots":{"$ref":"#\/components\/schemas\/LandRegisterAreaZoningDataPlotsType","description":""}},"required":["plots"]},"CadastreBaseDataType":{"type":"object","properties":{"cadastralArea":{"$ref":"#\/components\/schemas\/NamedCadastralAreaType","description":"","xml":{"name":"cadastral-area"}},"folio":{"$ref":"#\/components\/schemas\/FolioType","description":""},"municipality":{"$ref":"#\/components\/schemas\/MunicipalityType","description":""},"state":{"type":"string","description":""},"addresses":{"$ref":"#\/components\/schemas\/AddressesListType","description":""},"court":{"$ref":"#\/components\/schemas\/CourtType","description":""}},"required":["cadastralArea","court","folio","municipality","state"]},"CadastreContaminatedSitesDataType":{"type":"object","properties":{"contaminatedSites":{"$ref":"#\/components\/schemas\/LandRegisterContaminatedSitesDataContaminatedSitesType","description":"","xml":{"name":"contaminated-sites"}}},"required":["contaminatedSites"]},"CadastreDataType":{"type":"object","properties":{"baseData":{"$ref":"#\/components\/schemas\/CadastreBaseDataType","description":"","xml":{"name":"base-data"}},"plotData":{"$ref":"#\/components\/schemas\/CadastrePlotDataType","description":"","xml":{"name":"plot-data"}},"areaZoningData":{"$ref":"#\/components\/schemas\/CadastreAreaZoningDataType","description":"","xml":{"name":"area-zoning-data"}},"contaminatedSitesData":{"$ref":"#\/components\/schemas\/CadastreContaminatedSitesDataType","description":"","xml":{"name":"contaminated-sites-data"}}},"required":["baseData"]},"CadastrePlotDataType":{"type":"object","properties":{"landSurveyingOffice":{"type":"string","description":"","xml":{"name":"land-surveying-office"}},"totalArea":{"type":"number","description":"","xml":{"name":"total-area"}},"totalPlots":{"type":"integer","format":"int32","description":"","xml":{"name":"total-plots"}},"plots":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataPlotsType","description":""}},"required":["landSurveyingOffice","plots","totalArea"]},"CadastreProfileType":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"data":{"$ref":"#\/components\/schemas\/CadastreDataType","description":""}},"required":["data","meta"]},"CountryCodeType":{"type":"object","properties":{"value":{"type":"string","description":""},"type":{"type":"string","description":"","enum":["ISO_3166_1_ALPHA_3"],"xml":{"attribute":true}}}},"CourtType":{"type":"object","properties":{"courtNumber":{"type":"string","description":"","xml":{"name":"court-number"}},"court":{"type":"string","description":""}},"required":["court","courtNumber"]},"FolioType":{"type":"object","properties":{"ez":{"type":"integer","format":"int32","description":""}}},"GeoLocationType":{"type":"object","properties":{"lat":{"type":"number","format":"double","description":""},"lon":{"type":"number","format":"double","description":""}}},"LandRegisterAreaZoningDataPlotsPlotAreaZoningsAreaZoningType":{"type":"object","properties":{"text":{"type":"string","description":""},"detailText":{"type":"string","description":"","xml":{"name":"detail-text"}},"area":{"type":"number","description":""}},"required":["area","detailText","text"]},"LandRegisterAreaZoningDataPlotsPlotAreaZoningsType":{"type":"object","properties":{"areaZoning":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterAreaZoningDataPlotsPlotAreaZoningsAreaZoningType"},"xml":{"name":"area-zoning"}}},"required":["areaZoning"]},"LandRegisterAreaZoningDataPlotsPlotType":{"type":"object","properties":{"cadastralArea":{"$ref":"#\/components\/schemas\/CadastralAreaType","description":"","xml":{"name":"cadastral-area"}},"plotNumber":{"type":"string","description":"","xml":{"name":"plot-number"}},"areaZonings":{"$ref":"#\/components\/schemas\/LandRegisterAreaZoningDataPlotsPlotAreaZoningsType","description":"","xml":{"name":"area-zonings"}}},"required":["areaZonings","cadastralArea","plotNumber"]},"LandRegisterAreaZoningDataPlotsType":{"type":"object","properties":{"plot":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterAreaZoningDataPlotsPlotType"}}},"required":["plot"]},"LandRegisterContaminatedSitesDataContaminatedSitesContaminatedSitePlotsPlotType":{"type":"object","properties":{"cadastralArea":{"$ref":"#\/components\/schemas\/CadastralAreaType","description":"","xml":{"name":"cadastral-area"}},"plotNumber":{"type":"string","description":"","xml":{"name":"plot-number"}}},"required":["cadastralArea","plotNumber"]},"LandRegisterContaminatedSitesDataContaminatedSitesContaminatedSitePlotsType":{"type":"object","properties":{"plot":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterContaminatedSitesDataContaminatedSitesContaminatedSitePlotsPlotType"}}},"required":["plot"]},"LandRegisterContaminatedSitesDataContaminatedSitesContaminatedSiteType":{"type":"object","properties":{"name":{"type":"string","description":""},"number":{"type":"string","description":""},"assessment":{"type":"string","description":"","enum":["CONTAMINATED","SECURED","SECURED_RENOVATED","RENOVATED","DECONTAMINATED","ALL_AREAS_PUBLIC","PROPOSED_CONTAMINATED","PROPOSED_SECURED","PROPOSED_RENOVATED","PROPOSED_SECURED_RENOVATED","PROPOSED_DECONTAMINATED","PROPOSED_ALL_AREAS_PUBLIC"]},"url":{"type":"string","description":""},"gisUrl":{"type":"string","description":"","xml":{"name":"gis-url"}},"plots":{"$ref":"#\/components\/schemas\/LandRegisterContaminatedSitesDataContaminatedSitesContaminatedSitePlotsType","description":""}},"required":["assessment","gisUrl","name","number","plots","url"]},"LandRegisterContaminatedSitesDataContaminatedSitesType":{"type":"object","properties":{"contaminatedSite":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterContaminatedSitesDataContaminatedSitesContaminatedSiteType"},"xml":{"name":"contaminated-site"}}},"required":["contaminatedSite"]},"LandRegisterPlotDataPlotsPlotType":{"type":"object","properties":{"cadastralArea":{"$ref":"#\/components\/schemas\/CadastralAreaType","description":"","xml":{"name":"cadastral-area"}},"plotNumber":{"type":"string","description":"","xml":{"name":"plot-number"}},"containedInBoundaryCadastre":{"type":"boolean","description":"","xml":{"name":"contained-in-boundary-cadastre"}},"areaType":{"type":"string","description":"","enum":["CALCULATED","MEASURED"],"xml":{"name":"area-type"}},"area":{"type":"number","description":""},"addresses":{"$ref":"#\/components\/schemas\/AddressesListType","description":""},"usages":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataPlotsPlotUsagesType","description":""}},"required":["area","areaType","cadastralArea","plotNumber","usages"]},"LandRegisterPlotDataPlotsPlotUsagesType":{"type":"object","properties":{"usage":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataPlotsPlotUsagesUsageType"}}},"required":["usage"]},"LandRegisterPlotDataPlotsPlotUsagesTypeType":{"type":"object","properties":{"code":{"type":"integer","description":""},"text":{"type":"string","description":""}},"required":["code","text"]},"LandRegisterPlotDataPlotsPlotUsagesUsageType":{"type":"object","properties":{"code":{"type":"string","description":""},"text":{"type":"string","description":""},"type":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataPlotsPlotUsagesTypeType","description":""},"area":{"type":"number","description":""}},"required":["area","code","text","type"]},"LandRegisterPlotDataPlotsType":{"type":"object","properties":{"plot":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataPlotsPlotType"}}},"required":["plot"]},"MunicipalityType":{"type":"object","properties":{"code":{"type":"string","description":""},"name":{"type":"string","description":""}},"required":["code","name"]},"NamedCadastralAreaType":{"type":"object","properties":{"kg":{"type":"string","description":""},"name":{"type":"string","description":""}},"required":["kg","name"]},"ChildDocument":{"type":"object","properties":{"reference":{"type":"string","description":""},"documentTitle":{"type":"string","description":""},"documentType":{"type":"string","description":""},"contentType":{"type":"string","description":""}},"required":["contentType","documentTitle","documentType","reference"]},"ChildDocuments":{"type":"object","properties":{"childDocument":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/ChildDocument"}}}},"Document":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"data":{"$ref":"#\/components\/schemas\/DocumentDetails","description":""}},"required":["data","meta"],"xml":{"name":"document","namespace":"urn:compass:wico:api:1.0"}},"DocumentDetails":{"type":"object","properties":{"source":{"type":"string","description":"","enum":["ARCHIVE","BUSINESS_REGISTER","WIEREG_REGISTER","TRADE_REGISTER","ASSOCIATION_REGISTER","ZMR_REGISTER","ZPR_REGISTER","ZMR_AND_ZPR_REGISTER","LAND_REGISTER","IMMAZING"]},"notes":{"type":"string","description":""},"reference":{"type":"string","description":""},"documentTitle":{"type":"string","description":""},"documentType":{"type":"string","description":""},"contentType":{"type":"string","description":""},"childDocuments":{"$ref":"#\/components\/schemas\/ChildDocuments","description":""}},"required":["contentType","documentTitle","documentType","notes","reference","source"]},"NaturalPersonNameType":{"type":"object","properties":{"givenName":{"type":"string","description":"","xml":{"name":"given-name"}},"givenNameAlias":{"type":"string","description":"","xml":{"name":"given-name-alias"}},"surname":{"type":"string","description":""},"surnameAlias":{"type":"string","description":"","xml":{"name":"surname-alias"}},"fullName":{"type":"string","description":"","xml":{"name":"full-name"}},"title":{"type":"string","description":""},"postNominalTitle":{"type":"string","description":"","xml":{"name":"post-nominal-title"}}},"required":["givenName","surname"]},"OwnersListItemType":{"type":"object","properties":{"stub":{"$ref":"#\/components\/schemas\/StubType","description":""},"entityReference":{"$ref":"#\/components\/schemas\/ReferenceType","description":"","xml":{"name":"entity-reference"}},"folioCount":{"description":"","xml":{"name":"folio-count"}}},"required":["folioCount"]},"OwnersListType":{"type":"object","properties":{"owner":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/OwnersListItemType"}}}},"ReferenceType":{"type":"object","properties":{"name":{"type":"string","description":""},"registerNumber":{"$ref":"#\/components\/schemas\/RegisterNumberType","description":"","xml":{"name":"register-number"}},"structuredName":{"$ref":"#\/components\/schemas\/NaturalPersonNameType","description":"","xml":{"name":"structured-name"}},"sex":{"type":"string","description":"","enum":["M","F","O"]},"dateOfBirth":{"type":"string","description":"","xml":{"name":"date-of-birth"}},"yearOfBirth":{"type":"integer","format":"int32","description":"","xml":{"name":"year-of-birth"}},"pepStatus":{"type":"boolean","description":"","xml":{"name":"pep-status"}},"pepConnectionStatus":{"type":"boolean","description":"","xml":{"name":"pep-connection-status"}},"deceasedStatus":{"type":"boolean","description":"","xml":{"name":"deceased-status"}},"address":{"$ref":"#\/components\/schemas\/AddressType","description":""},"wicoId":{"type":"string","description":"","xml":{"name":"wico-id","attribute":true}},"formerWicoIds":{"type":"array","description":"","items":{"type":"string"},"xml":{"name":"former-wico-ids","attribute":true}},"objectType":{"type":"string","description":"","enum":["REGISTERED_COMPANY","ASSOCIATION","TRADE_PERSON","NATURAL_PERSON","NON_INCORPORATED_PARTNERSHIP","TERRITORIAL_ENTITY","OTHER_NON_NATURAL_PERSON"],"xml":{"name":"object-type","attribute":true}}}},"RegisterNumberType":{"type":"object","properties":{"value":{"type":"string","description":""},"register":{"type":"string","description":"","enum":["AT_FB","AT_ZVR","AT_TRADE","AT_ERV_PARTICIPANTS","AT_NOTARIES_CHAMBER","AT_CLINICAL_PSYCHOLOGISTS_LIST","AT_HEALTH_PSYCHOLOGISTS_LIST","AT_MUSIC_THERAPISTS_LIST","AT_PSYCHOTHERAPISTS_LIST","AT_TRAINING_TRAINING_THERAPISTS_LIST","AT_HEALTH_PROFESSIONALS_REGISTER","DE_HR"],"xml":{"attribute":true}},"authority":{"type":"string","description":"","xml":{"attribute":true}}}},"StubType":{"type":"object","properties":{"name":{"type":"string","description":""},"registerNumber":{"$ref":"#\/components\/schemas\/RegisterNumberType","description":"","xml":{"name":"register-number"}},"structuredName":{"$ref":"#\/components\/schemas\/NaturalPersonNameType","description":"","xml":{"name":"structured-name"}},"sex":{"type":"string","description":"","enum":["M","F","O"]},"dateOfBirth":{"type":"string","description":"","xml":{"name":"date-of-birth"}},"yearOfBirth":{"type":"integer","format":"int32","description":"","xml":{"name":"year-of-birth"}},"pepStatus":{"type":"boolean","description":"","xml":{"name":"pep-status"}},"pepConnectionStatus":{"type":"boolean","description":"","xml":{"name":"pep-connection-status"}},"deceasedStatus":{"type":"boolean","description":"","xml":{"name":"deceased-status"}},"address":{"$ref":"#\/components\/schemas\/AddressType","description":""}}},"LandRegisterActualityDataBondDeletionType":{"type":"object","properties":{"entryCreationDate":{"type":"string","description":"","xml":{"name":"entry-creation-date"}},"entryTz":{"$ref":"#\/components\/schemas\/TzType","description":"","xml":{"name":"entry-tz"}}},"required":["entryCreationDate","entryTz"]},"LandRegisterActualityType":{"type":"object","properties":{"status":{"type":"string","description":"","enum":["UNKNOWN","UNKNOWN_WITH_SEAL","UNCHANGED","UNCHANGED_WITH_SEAL","CHANGED","FOLIO_DELETED"]},"seals":{"$ref":"#\/components\/schemas\/SealsType","description":""},"bondDeletion":{"$ref":"#\/components\/schemas\/LandRegisterActualityDataBondDeletionType","description":"","xml":{"name":"bond-deletion"}},"folioDeletionDate":{"type":"string","description":"","xml":{"name":"folio-deletion-date"}}},"required":["status"]},"LandRegisterOwnerContactDataType":{"type":"object","properties":{"address":{"$ref":"#\/components\/schemas\/AddressType","description":""}},"required":["address"]},"LandRegisterOwnerDataType":{"type":"object","properties":{"masterData":{"$ref":"#\/components\/schemas\/LandRegisterOwnerMasterDataType","description":"","xml":{"name":"master-data"}},"contactData":{"$ref":"#\/components\/schemas\/LandRegisterOwnerContactDataType","description":"","xml":{"name":"contact-data"}},"realPropertyData":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataType","description":"","xml":{"name":"real-property-data"}}},"required":["masterData"]},"LandRegisterOwnerMasterDataType":{"type":"object","properties":{"name":{"type":"string","description":""},"registerNumber":{"$ref":"#\/components\/schemas\/RegisterNumberType","description":"","xml":{"name":"register-number"}},"structuredName":{"$ref":"#\/components\/schemas\/NaturalPersonNameType","description":"","xml":{"name":"structured-name"}},"sex":{"type":"string","description":"","enum":["M","F","O"]},"dateOfBirth":{"type":"string","description":"","xml":{"name":"date-of-birth"}},"yearOfBirth":{"type":"integer","format":"int32","description":"","xml":{"name":"year-of-birth"}}}},"LandRegisterOwnerProfileType":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"reference":{"$ref":"#\/components\/schemas\/ProfileReferenceType","description":""},"status":{"$ref":"#\/components\/schemas\/LandRegisterOwnerStatusType","description":""},"data":{"$ref":"#\/components\/schemas\/LandRegisterOwnerDataType","description":""}},"required":["data","meta","reference","status"]},"LandRegisterOwnerRealPropertyDataRealPropertiesListItemAssociatedCNumbersListType":{"type":"object","properties":{"cnumber":{"type":"array","description":"","items":{"type":"integer","format":"int32"}}}},"LandRegisterOwnerRealPropertyDataRealPropertiesListItemBNumbersListType":{"type":"object","properties":{"bnumber":{"type":"array","description":"","items":{"type":"integer","format":"int32"}}}},"LandRegisterOwnerRealPropertyDataRealPropertiesListItemExcerptType":{"type":"object","properties":{"date":{"type":"string","description":""},"reference":{"type":"string","description":""}},"required":["date","reference"]},"LandRegisterOwnerRealPropertyDataRealPropertiesListItemPlotAddressesListItemType":{"type":"object","properties":{"address":{"$ref":"#\/components\/schemas\/AddressType","description":""},"cadastralArea":{"$ref":"#\/components\/schemas\/NamedCadastralAreaType","description":"","xml":{"name":"cadastral-area"}}},"required":["address","cadastralArea"]},"LandRegisterOwnerRealPropertyDataRealPropertiesListItemPlotAddressesListType":{"type":"object","properties":{"plotAddress":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataRealPropertiesListItemPlotAddressesListItemType"},"xml":{"name":"plot-address"}}}},"LandRegisterOwnerRealPropertyDataRealPropertiesListItemType":{"type":"object","properties":{"cadastralArea":{"$ref":"#\/components\/schemas\/NamedCadastralAreaType","description":"","xml":{"name":"cadastral-area"}},"folio":{"$ref":"#\/components\/schemas\/FolioType","description":""},"share":{"type":"number","description":""},"plotAddresses":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataRealPropertiesListItemPlotAddressesListType","description":"","xml":{"name":"plot-addresses"}},"associatedCNumbers":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataRealPropertiesListItemAssociatedCNumbersListType","description":"","xml":{"name":"associated-c-numbers"}},"excerpt":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataRealPropertiesListItemExcerptType","description":""},"actuality":{"$ref":"#\/components\/schemas\/LandRegisterActualityType","description":""},"bnumbers":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataRealPropertiesListItemBNumbersListType","description":""}},"required":["actuality","associatedCNumbers","cadastralArea","excerpt","folio","plotAddresses","share"]},"LandRegisterOwnerRealPropertyDataRealPropertiesListType":{"type":"object","properties":{"realProperty":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataRealPropertiesListItemType"},"xml":{"name":"real-property"}}},"required":["realProperty"]},"LandRegisterOwnerRealPropertyDataType":{"type":"object","properties":{"realProperties":{"$ref":"#\/components\/schemas\/LandRegisterOwnerRealPropertyDataRealPropertiesListType","description":"","xml":{"name":"real-properties"}}},"required":["realProperties"]},"LandRegisterOwnerStatusType":{"type":"object","properties":{"deceasedStatus":{"type":"boolean","description":"","xml":{"name":"deceased-status"}},"pepStatus":{"type":"boolean","description":"","xml":{"name":"pep-status"}},"pepConnectionStatus":{"type":"boolean","description":"","xml":{"name":"pep-connection-status"}},"aggregatedInsolvencyCaseStatus":{"type":"string","description":"","enum":["PENDING","CLOSED"],"xml":{"name":"aggregated-insolvency-case-status"}},"aggregatedApparentInsolvencyCaseStatus":{"type":"string","description":"","enum":["PENDING","CLOSED"],"xml":{"name":"aggregated-apparent-insolvency-case-status"}},"aggregatedDummyCompanyStatus":{"type":"boolean","description":"","xml":{"name":"aggregated-dummy-company-status"}},"relationToRussia":{"$ref":"#\/components\/schemas\/RelationToRussia","description":"","xml":{"name":"relation-to-russia"}},"sanctioned":{"type":"boolean","description":""}}},"ProfileFormerWicoIdsType":{"type":"object","properties":{"formerWicoId":{"type":"array","description":"","items":{"type":"string","xml":{"name":"former-wico-id"}},"xml":{"name":"former-wico-id"}}},"required":["formerWicoId"]},"ProfileReferenceType":{"type":"object","properties":{"wicoId":{"type":"string","description":"","xml":{"name":"wico-id"}},"formerWicoIds":{"$ref":"#\/components\/schemas\/ProfileFormerWicoIdsType","description":"","xml":{"name":"former-wico-ids"}}},"required":["wicoId"]},"RelationToRussia":{"type":"object","properties":{"value":{"type":"string","description":"","enum":["RUSSIAN_ORGANISATION","RUSSIAN_LBO","RUSSIAN_OWNER","PERSON_WITH_RUSSIAN_ADDRESS","DIRECT_OR_INDIRECT_CUMULATED_RUSSIAN_OWNERSHIP_ABOVE_40_PERCENT"]},"explanation":{"type":"string","description":"","xml":{"attribute":true}}}},"SealsType":{"type":"object","properties":{"sealTz":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/TzType"},"xml":{"name":"seal-tz"}}},"required":["sealTz"]},"CurrencyType":{"type":"object","properties":{"value":{"type":"string","description":""},"type":{"type":"string","description":"","enum":["ISO_4217"],"xml":{"attribute":true}}}},"LandRegisterActualityDataType":{"type":"object","properties":{"actuality":{"$ref":"#\/components\/schemas\/LandRegisterActualityType","description":""}},"required":["actuality"]},"LandRegisterAreaZoningDataType":{"type":"object","properties":{"plots":{"$ref":"#\/components\/schemas\/LandRegisterAreaZoningDataPlotsType","description":""}},"required":["plots"]},"LandRegisterBaseDataAdditionalPropertySheetTextsType":{"type":"object","properties":{"additionalPropertySheetTexts":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataAdditionalPropertySheetTextsType","description":"","xml":{"name":"additional-property-sheet-texts"}}}},"LandRegisterBaseDataInscriptionInscriptionTextsType":{"type":"object","properties":{"inscriptionText":{"type":"array","description":"","items":{"type":"string","xml":{"name":"inscription-text"}},"xml":{"name":"inscription-text"}}},"required":["inscriptionText"]},"LandRegisterBaseDataInscriptionType":{"type":"object","properties":{"latestTz":{"$ref":"#\/components\/schemas\/TzType","description":"","xml":{"name":"latest-tz"}},"condominium":{"type":"boolean","description":""},"seals":{"$ref":"#\/components\/schemas\/SealsType","description":""},"inscriptionTexts":{"$ref":"#\/components\/schemas\/LandRegisterBaseDataInscriptionInscriptionTextsType","description":"","xml":{"name":"inscription-texts"}}},"required":["latestTz"]},"LandRegisterBaseDataType":{"type":"object","properties":{"cadastralArea":{"$ref":"#\/components\/schemas\/NamedCadastralAreaType","description":"","xml":{"name":"cadastral-area"}},"folio":{"$ref":"#\/components\/schemas\/FolioType","description":""},"municipality":{"$ref":"#\/components\/schemas\/MunicipalityType","description":""},"state":{"type":"string","description":""},"addresses":{"$ref":"#\/components\/schemas\/AddressesListType","description":""},"court":{"$ref":"#\/components\/schemas\/CourtType","description":""},"inscription":{"$ref":"#\/components\/schemas\/LandRegisterBaseDataInscriptionType","description":""},"additionalPropertySheetTexts":{"$ref":"#\/components\/schemas\/LandRegisterBaseDataAdditionalPropertySheetTextsType","description":"","xml":{"name":"additional-property-sheet-texts"}}},"required":["cadastralArea","court","folio","inscription","municipality","state"]},"LandRegisterContaminatedSitesDataType":{"type":"object","properties":{"contaminatedSites":{"$ref":"#\/components\/schemas\/LandRegisterContaminatedSitesDataContaminatedSitesType","description":"","xml":{"name":"contaminated-sites"}}},"required":["contaminatedSites"]},"LandRegisterDataLiteralStructuredDataRankType":{"type":"object","properties":{"tz":{"$ref":"#\/components\/schemas\/TzType","description":""}},"required":["tz"]},"LandRegisterDataType":{"type":"object","properties":{"excerptData":{"$ref":"#\/components\/schemas\/LandRegisterExcerptDataType","description":"","xml":{"name":"excerpt-data"}},"baseData":{"$ref":"#\/components\/schemas\/LandRegisterBaseDataType","description":"","xml":{"name":"base-data"}},"actualityData":{"$ref":"#\/components\/schemas\/LandRegisterActualityDataType","description":"","xml":{"name":"actuality-data"}},"plotData":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataType","description":"","xml":{"name":"plot-data"}},"areaZoningData":{"$ref":"#\/components\/schemas\/LandRegisterAreaZoningDataType","description":"","xml":{"name":"area-zoning-data"}},"ownersData":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataType","description":"","xml":{"name":"owners-data"}},"encumbrancesData":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataType","description":"","xml":{"name":"encumbrances-data"}},"contaminatedSitesData":{"$ref":"#\/components\/schemas\/LandRegisterContaminatedSitesDataType","description":"","xml":{"name":"contaminated-sites-data"}}},"required":["baseData","excerptData","ownersData"]},"LandRegisterEncumbrancesDataEntriesEntryType":{"type":"object","properties":{"associatedBNumbers":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataEntriesEntryTypeAssociatedBNumbersType","description":"","xml":{"name":"associated-b-numbers"}},"literals":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralsType","description":""},"cnumber":{"type":"integer","format":"int32","description":""}},"required":["literals"]},"LandRegisterEncumbrancesDataEntriesEntryTypeAssociatedBNumbersType":{"type":"object","properties":{"bnumber":{"type":"array","description":"","items":{"type":"integer","format":"int32"}}}},"LandRegisterEncumbrancesDataEntriesType":{"type":"object","properties":{"entry":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataEntriesEntryType"}}},"required":["entry"]},"LandRegisterEncumbrancesDataLiteralBeneficiariesBeneficiaryType":{"type":"object","properties":{"stub":{"$ref":"#\/components\/schemas\/StubType","description":""},"entityReference":{"$ref":"#\/components\/schemas\/ReferenceType","description":"","xml":{"name":"entity-reference"}}}},"LandRegisterEncumbrancesDataLiteralBeneficiariesType":{"type":"object","properties":{"beneficiary":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralBeneficiariesBeneficiaryType"}}},"required":["beneficiary"]},"LandRegisterEncumbrancesDataLiteralDocumentsDocumentType":{"type":"object","properties":{"tz":{"$ref":"#\/components\/schemas\/TzType","description":""},"type":{"type":"string","description":""},"comment":{"type":"string","description":""},"date":{"type":"string","description":""}},"required":["date","type","tz"]},"LandRegisterEncumbrancesDataLiteralDocumentsType":{"type":"object","properties":{"document":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralDocumentsDocumentType"}}},"required":["document"]},"LandRegisterEncumbrancesDataLiteralLienType":{"type":"object","properties":{"maximumAmount":{"type":"boolean","description":"","xml":{"name":"maximum-amount"}},"partialAmount":{"type":"boolean","description":"","xml":{"name":"partial-amount"}},"amount":{"$ref":"#\/components\/schemas\/MonetaryAmountType","description":""},"interest":{"$ref":"#\/components\/schemas\/PercentageType","description":""},"interestOnArrears":{"$ref":"#\/components\/schemas\/PercentageType","description":"","xml":{"name":"interest-on-arrears"}},"compoundInterest":{"$ref":"#\/components\/schemas\/PercentageType","description":"","xml":{"name":"compound-interest"}},"interestOnArrearsAndCompoundInterest":{"$ref":"#\/components\/schemas\/PercentageType","description":"","xml":{"name":"interest-on-arrears-and-compound-interest"}},"ancillaryFeeGuarantee":{"$ref":"#\/components\/schemas\/MonetaryAmountType","description":"","xml":{"name":"ancillary-fee-guarantee"}}}},"LandRegisterEncumbrancesDataLiteralStructuredDataType":{"type":"object","properties":{"rank":{"$ref":"#\/components\/schemas\/LandRegisterDataLiteralStructuredDataRankType","description":""},"beneficiaries":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralBeneficiariesType","description":""},"documents":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralDocumentsType","description":""},"subject":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralSubjectType","description":""}},"required":["subject"]},"LandRegisterEncumbrancesDataLiteralSubjectType":{"type":"object","properties":{"title":{"type":"string","description":""},"lien":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralLienType","description":""}},"required":["title"]},"LandRegisterEncumbrancesDataLiteralType":{"type":"object","properties":{"letter":{"type":"string","description":""},"tz":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/TzType"}},"text":{"type":"string","description":""},"structuredData":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralStructuredDataType","description":"","xml":{"name":"structured-data"}}},"required":["letter","text","tz"]},"LandRegisterEncumbrancesDataLiteralsType":{"type":"object","properties":{"literal":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataLiteralType"}}},"required":["literal"]},"LandRegisterEncumbrancesDataType":{"type":"object","properties":{"entries":{"$ref":"#\/components\/schemas\/LandRegisterEncumbrancesDataEntriesType","description":""}},"required":["entries"]},"LandRegisterExcerptDataType":{"type":"object","properties":{"kg":{"type":"string","description":""},"ez":{"type":"integer","format":"int32","description":""},"restriction":{"type":"string","description":""},"date":{"type":"string","description":""},"reference":{"type":"string","description":""}},"required":["date","kg","reference"]},"LandRegisterExcerptProfileType":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"data":{"$ref":"#\/components\/schemas\/LandRegisterDataType","description":""}},"required":["data","meta"]},"LandRegisterOwnersDataEntriesEntryAssociatedCNumbersType":{"type":"object","properties":{"cnumber":{"type":"array","description":"","items":{"type":"integer","format":"int32"}}}},"LandRegisterOwnersDataEntriesEntryShareType":{"type":"object","properties":{"fraction":{"type":"string","description":""},"percentage":{"type":"number","description":""}},"required":["fraction","percentage"]},"LandRegisterOwnersDataEntriesEntryType":{"type":"object","properties":{"stub":{"$ref":"#\/components\/schemas\/StubType","description":""},"entityReference":{"$ref":"#\/components\/schemas\/ReferenceType","description":"","xml":{"name":"entity-reference"}},"associatedCNumbers":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataEntriesEntryAssociatedCNumbersType","description":"","xml":{"name":"associated-c-numbers"}},"share":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataEntriesEntryShareType","description":""},"literals":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataLiteralsType","description":""},"bnumber":{"type":"integer","format":"int32","description":""}},"required":["literals","share"]},"LandRegisterOwnersDataEntriesType":{"type":"object","properties":{"entry":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataEntriesEntryType"}}},"required":["entry"]},"LandRegisterOwnersDataFormerOwnersFormerOwnerExcerptsExcerptReferenceType":{"type":"object","properties":{"reference":{"type":"string","description":""},"date":{"type":"string","description":""}},"required":["date","reference"]},"LandRegisterOwnersDataFormerOwnersFormerOwnerExcerptsType":{"type":"object","properties":{"excerptReference":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataFormerOwnersFormerOwnerExcerptsExcerptReferenceType"},"xml":{"name":"excerpt-reference"}}},"required":["excerptReference"]},"LandRegisterOwnersDataFormerOwnersFormerOwnerType":{"type":"object","properties":{"stub":{"$ref":"#\/components\/schemas\/StubType","description":""},"entityReference":{"$ref":"#\/components\/schemas\/ReferenceType","description":"","xml":{"name":"entity-reference"}},"excerpts":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataFormerOwnersFormerOwnerExcerptsType","description":""}},"required":["excerpts"]},"LandRegisterOwnersDataFormerOwnersType":{"type":"object","properties":{"formerOwner":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataFormerOwnersFormerOwnerType"},"xml":{"name":"former-owner"}}},"required":["formerOwner"]},"LandRegisterOwnersDataLiteralStructuredDataType":{"type":"object","properties":{"rank":{"$ref":"#\/components\/schemas\/LandRegisterDataLiteralStructuredDataRankType","description":""}}},"LandRegisterOwnersDataLiteralType":{"type":"object","properties":{"letter":{"type":"string","description":""},"tz":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/TzType"}},"text":{"type":"string","description":""},"structuredData":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataLiteralStructuredDataType","description":"","xml":{"name":"structured-data"}}},"required":["letter","text","tz"]},"LandRegisterOwnersDataLiteralsType":{"type":"object","properties":{"literal":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataLiteralType"}}},"required":["literal"]},"LandRegisterOwnersDataType":{"type":"object","properties":{"entries":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataEntriesType","description":""},"formerOwners":{"$ref":"#\/components\/schemas\/LandRegisterOwnersDataFormerOwnersType","description":"","xml":{"name":"former-owners"}}},"required":["entries"]},"LandRegisterPlotDataAdditionalPropertySheetTextsTextType":{"type":"object","properties":{"text":{"type":"string","description":""}},"required":["text"]},"LandRegisterPlotDataAdditionalPropertySheetTextsType":{"type":"object","properties":{"additionalPropertySheetText":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataAdditionalPropertySheetTextsTextType"},"xml":{"name":"additional-property-sheet-text"}}},"required":["additionalPropertySheetText"]},"LandRegisterPlotDataType":{"type":"object","properties":{"landSurveyingOffice":{"type":"string","description":"","xml":{"name":"land-surveying-office"}},"totalArea":{"type":"number","description":"","xml":{"name":"total-area"}},"totalPlots":{"type":"integer","format":"int32","description":"","xml":{"name":"total-plots"}},"plots":{"$ref":"#\/components\/schemas\/LandRegisterPlotDataPlotsType","description":""}},"required":["landSurveyingOffice","plots","totalArea"]},"MonetaryAmountType":{"type":"object","properties":{"currency":{"$ref":"#\/components\/schemas\/CurrencyType","description":""},"value":{"type":"number","description":""}},"required":["currency","value"]},"PercentageType":{"type":"object","properties":{"value":{"type":"number","description":""}},"required":["value"]},"CourtList":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"data":{"$ref":"#\/components\/schemas\/CourtsListType","description":""}},"required":["data","meta"]},"CourtsListItemType":{"type":"object","properties":{"courtNumber":{"type":"string","description":"","xml":{"name":"court-number"}},"name":{"type":"string","description":""},"address":{"$ref":"#\/components\/schemas\/AddressType","description":""},"state":{"type":"string","description":"","enum":["OPEN","CLOSED"]},"closedSince":{"type":"string","description":"","xml":{"name":"closed-since"}},"succeedingCourt":{"$ref":"#\/components\/schemas\/SucceedingCourtType","description":"","xml":{"name":"succeeding-court"}}},"required":["address","courtNumber","name","state"]},"CourtsListType":{"type":"object","properties":{"court":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/CourtsListItemType"}}}},"SucceedingCourtType":{"type":"object","properties":{"courtNumber":{"type":"string","description":"","xml":{"name":"court-number"}},"name":{"type":"string","description":""}},"required":["courtNumber","name"]},"AddressSearchFolio":{"type":"object","properties":{"kg":{"type":"string","description":""},"ez":{"type":"integer","format":"int32","description":""}},"required":["kg"]},"AddressSearchPlot":{"type":"object","properties":{"kg":{"type":"string","description":""},"gstNr":{"type":"string","description":""}},"required":["gstNr","kg"]},"AddressSearchResult":{"type":"object","properties":{"meta":{"$ref":"#\/components\/schemas\/Meta","description":""},"data":{"$ref":"#\/components\/schemas\/AddressSearchResultData","description":""}},"required":["data","meta"],"xml":{"name":"addressSearchResult","namespace":"urn:compass:wico:api:1.0"}},"AddressSearchResultData":{"type":"object","properties":{"totalResults":{"type":"integer","format":"int32","description":""},"page":{"type":"integer","format":"int32","description":""},"pageSize":{"type":"integer","format":"int32","description":""},"results":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/AddressSearchResultEntry"}}}},"AddressSearchResultEntry":{"type":"object","properties":{"address":{"$ref":"#\/components\/schemas\/AddressType","description":""},"folios":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/AddressSearchFolio"}},"plots":{"type":"array","description":"","items":{"$ref":"#\/components\/schemas\/AddressSearchPlot"}}},"required":["address"]},"ResponseString":{"type":"object","properties":{"status":{"type":"string","description":"","enum":["OK","ERROR"]},"message":{"type":"string","description":""},"data":{"type":"string","description":""}}}},"securitySchemes":{"compass-api-token":{"type":"apiKey","name":"Authorization","in":"header","scheme":"bearer","bearerFormat":"JWT"}}}}